<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <form action='register' method='post'>

        {% csrf_token %}
        <input type="text" name="first_name" placeholder="FIRST NAME"><br>
        <input type="text" name="last_name" placeholder="LAST NAME"><br>
        <input type="text" name="username" placeholder="USERNAME"><br>
        <input type="email" name="email" placeholder="EMAIL ID"><br>
        <input type="password" name="password0" placeholder="PASSWORD"><br>
        <input type="password" name="password1" placeholder="CONFIRM PASSWORD"><br>
        <input type="submit">
        
    </form>    

    <div>
        {% for i in messages %}
        <h4>{{i}}</h4>
        {% endfor %}
    </div>
</body>
</html>